/* Navigation Menu */

.navDropDown {
    position: fixed;
    top: 0;
    /*background: linear-gradient(to left, #085078, #318296);*/
    background-color: #318296;
    z-index: 1;
    width: 100vw;
}

.navDropDownButton {
    border: none;
    padding: 14px 16px;
    background-color: #318296;
}

.navDropDownButton:hover {
    cursor: pointer;
}

.material-symbols-outlined {
    color: white;
}

.navDropDownOptions {
    position: absolute;
    background-color: #318296;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.2);
}

.navDropDownOptions.open {
    max-height: 120px;
}

.navOption {
    user-select: none;
    font-size: 20px;
}

.navPara {
    height: 30px;
    margin: 0;
    padding-left: 10px;
    padding-top: 7px;
}

.navPara:hover {
    background-color: #f2f2f2;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

/* ---------------------------------------------- */

/* Basic */

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, #085078, #68a9a1);
    color: white;
}

/* ---------------------------------------------- */

/* Stats.js */

.Stats {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.header {
    padding-bottom: 34px;
    padding-top: 0px;
    position: fixed;
    top: 50px;
    width: 99%;
    text-align: center;
}

.header select {
    background-color: transparent;
}

.scroll {
    overflow-y :scroll;
    height: 31vw;
    border: none;
    background-color: white;
    width: 96vw;
    overflow-x: hidden;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
}

#dropdown {
    color: white;
    border: 1px solid white;
}

#statsTable {
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    overflow-y: scroll;
    color: black
}

#statsTableHead {
    position: sticky;
    top: 0.1px;
    background-color: white;
    z-index: 1;
    user-select: none;
    height: 50px;
}

.statsColumnArrow {
    margin-top: 0;
    margin-bottom: 0;
}

#namesColumn {
    width: 20%;
    border: 1px solid black;
}

.generalStats {
    width: 4%;
    border: 1px solid black;
}

#namesColumn:hover, .generalStats:hover {
    cursor: pointer;
}

.statsTableData {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10pt;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* ---------------------------------------------- */

/* GuessThePlayer.js */

#openRulesModalButton {
    position: fixed;
    top: 65px;
    right: 10px;
    width: 100px;
    height: 100px;
    background-image: url("/public/basketball.jpg");
    background-color: transparent;
    background-size: cover;
    color: white;
    font-size: 25pt;
    border: none;
}

#openRulesModalButton:hover {
    cursor: pointer;
}

#rulesModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.rulesModalContent {
    background: linear-gradient(to right, #68a9a1, #68a9a1);
    color: white;
    margin: auto;
    padding: 20px;
    width: 65%;
}

.closeRulesModalButton {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeRulesModalButton:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.title {
    text-align: center;
    margin-top: 70px;
}

.body {
    text-align: center;
}

#gameOverModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: black;
}
  
.gameOverModalContent {
    background: linear-gradient(to right, #68a9a1, #68a9a1);
    margin: auto;
    padding: 20px;
    width: 65%;
    color: white;
}
  
.closeModalButton {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.closeModalButton:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#guessingTextEntryBox {
    width: 200px;
    height: 30px;
    font-size: 12pt;
    border-radius: 0;
    border: solid 1px black;
    background-color: white;
    color: black;
}
  
.guessingTextEntry:focus {
    /*outline: 1px solid rgb(47, 255, 217);*/
    outline: none;
    background-color: white;
    color: black;
}

#playerNames {
    display: none;
    box-sizing: border-box;
    border-radius: 0px;
    outline: none;
    border: 1px solid black;
    margin-top: 0px;
    border-top-style: none;
    padding: 0;
    list-style-type: none;
    width: 206px;
    background-color: white;
    color: black;
}
  
#playerName {
    padding: 10px;
    user-select: none;
}
  
#playerName:hover {
    cursor: pointer;
    background-color: #085078;
    color: white;
}
  
#playerNamesDiv {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.highlightGreen {
    background-color: rgb(42, 210, 42);
    color: white;
}
  
.highlightYellow {
    background-color: rgb(243, 234, 56);
    color: black;
}

#guessTable {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    color: black;
}
  
#guessTableHead {
    position: sticky;
    top: 70px;
    border: 1px solid black;
}
  
#namesColumnGuessing {
    width: 20%;
}
  
.generalStatsGuessing {
    width: 4%;
}

#guessTableBody td {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10pt;
}