.title {
    text-align: center;
}

.body {
    text-align: center;
}

.guessTableData, #guessTable {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

#namesColumn, .generalStats {
  background-color: #f2f2f2;
  width: 98%;
}

td {
  padding: 5px;
}

#guessTable {
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#guessTableHead {
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  top: 170px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

#headerRow {
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  top: 170px;
}

.header {
  padding-bottom: 34px;
  padding-top: 0px;
  background: white;
  position: fixed;
  top: 0;
  width: 99%;
  text-align: center;
}

#namesColumnGuessing {
  width: 20%;
}

.generalStatsGuessing {
  width: 4%;
}

#playerNames {
  margin-left: 620px;
  display: none;
  width: 200px;
  box-sizing: border-box;
  border-radius: 0px;
  outline: none;
  border: 1px solid black;
  margin-top: 0px;
  border-top-style: none;
  padding: 0;
  list-style-type: none;
}

#playerName {
  padding: 10px;
  user-select: none;
}

#playerName:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.sortingSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .sortingSwitch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: rgba(1, 180, 1, 0.785);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

#switchDiv {
    padding-top: 10px;
}

#gameOverModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.gameOverModalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.closeModalButton {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModalButton:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.highlightGreen {
  background-color: rgb(42, 210, 42);
  color: white;
}

.highlightYellow {
  background-color: rgb(243, 234, 56);
  color: black;
}
